.bundle-items{
    position: relative;
}

.bundle-list .bundled-item.template, .timecontrol{
    display: none;
}
.bundle-list.short .bundled-item{
    width: 39%;
}
.bundled-item {
    width: 100%;
    min-height: 46px;
}
.bundled-item.active .loadname{
    color: white;
}
.bundled-item a{
    line-height: 16px;
    vertical-align: middle;
}
.bundled-item .btn{
    opacity: 0.4;
}
.bundled-item:hover .btn, .bundled-item.active .btn{
    opacity: 1;
}

.bundle-list li a.loadname {
    text-decoration: none;
    padding: 0 5px;
}
#bundle_config{
    border: 1px solid #DDDDDD;
    padding: 15px 0;
    margin-left: -1px;
    left: 39%;
    position: absolute;
    top: 0;
    width: 61%;
}

#pricing_overide{
    padding: 10px 0 0;
}

.bundle-item-config{
    padding: 0px 10px 0px;
}

.like-table-row label.right{
    float: right;
    color:#757575;
}
.overlay{
    width: 99%;
    height: 100%;
    position: absolute;
    top: 0; 
    line-height: 24px;
    padding: 0 0.5%;
    color: #757575;
    z-index: 0;
}
#bundle_ajax {
    background: url('../img/ajax-loading.gif') no-repeat center center rgba(255,255,255,0.7);
    display:none;
    z-index: 3;
}

#bundle_config{
    background: none repeat scroll 0 0 white;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #CCCCCC;
}

#bundle_config .form-group:last-child{
    margin-bottom: 0;
}

@media (max-width: 1199px) {
    .bundle-list.short .bundled-item{
        width: 100%;
    }

    #bundle_config{
        width: 100%;
        min-height: 0!important;
        margin-left: 0;
        position: static;
        border-top: none;
        border-bottom: none;
    }
    #bundle_config:last-child{
        border-bottom: 1px solid #DDDDDD;
    }
}

