<?php

/**
 * Client ordered field upgrade/downgrade and it has changed by accepting order (auto or manual)
 * Following variable is available to use in this file:  $details $details=array('account_id'=>ACCOUNT ID,
 * 'forms'=> 'array with old forms values'
 * 'newforms'=> 'array with new forms values'
 */
