<?php

/**
 * Account-related module (for ex. cPanel) failed to create account
 * Following variable is available to use in this file:  $details
 * $details = array(
 *   'service' => ACCOUNT DETAILS ARRAY,
 *   'error' => Errors from related module,
 *   'account_id' => ACCOUNT ID,
 *   'server' => RELATED SERVER DETAILS ARRAY
 * )
 */
