<?php

/**
 * Account-related module (for ex. cPanel) failed to change package on server
 * Following variable is available to use in this file:  $details $details=array('account'=>ACCOUNT DETAILS ARRAY,'product'=>NEW PRODUCT DETAILS ARRAY,'error'=>'Error from module, if any')
 */
