<?php

/**
 * HostBill succesfully registered domain
 * $details = array('id'=>RELATED DOMAIN ID IN HOSTBILL,
 * 'name'=>DOMAIN NAME);
 * Following variable is available to use in this file:  $details
 */
