<?php

/**
 * Client posted cancelation request for domain
 * Following variable is available to use in this file:  $details an array with basic cancelation details
 * $details['reason']; // Cancellation reason
 * $details['domain_id']; // Related domain id
 */
