<?php

/**
 * Client has added funds /  credit to his account
 * Following variable is available to use in this file:  $details contains informations that were stored.
 * Some of keys available (note: if you have custom registration fields they may differ):
 * $details['client_id']; // Client ID
 * $details['old_credit']; // Previous credit balance
 * $details['new_credit']; // Credit balance after credit added
 * $details['invoice_id']; // Related invoice id
 * $details['total']; //Credit added
 */
