<?php

/**
 * Client just changed his password
 * Following variable is available to use in this file:  $details Items available:
 * $details['client_id']; // Related client ID
 * $details['password']; // New client password
 */
