<?php

/**
 * Account-related module (for ex. cPanel) successfully changed password of account
 * Following variable is available to use in this file:  $details $details=array('account'=>ACCOUNT DETAILS ARRAY, 'newpassword' => NEW SERVICE PASS)
 */
