#orderpage {
  white-space: normal;
  /* Plans */ }
  #orderpage ul {
    list-style: none; }
  #orderpage * {
    font-family: 'lato', Arial, Helvetica, sans-serif; }
  #orderpage h1 {
    color: #515965;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 0 5px 20px; }
  #orderpage h2 {
    color: #515965;
    font-weight: bold;
    margin: 0 0 5px 20px;
    font-size: 24px;
    line-height: 24px; }
  #orderpage h3 {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 5px 0; }
  #orderpage .plan-list {
    margin-bottom: -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    #orderpage .plan-list .plan {
      position: relative;
      width: 292px; }
  #orderpage .plan-list {
    display: grid;
    grid-template-columns: 292px 292px 292px; }
  #orderpage .plan-box {
    background: #fff;
    cursor: pointer;
    position: relative;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    border-bottom: 1px solid transparent; }
  #orderpage .plan-header {
    position: relative;
    z-index: 8; }
    #orderpage .plan-header > .padding {
      padding: 15px 0;
      position: relative;
      z-index: 10; }
  #orderpage .text-center {
    text-align: center; }
  #orderpage .price-format {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 6px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    #orderpage .price-format .price-cycle {
      font-size: 12px;
      font-weight: normal;
      text-transform: uppercase; }
  #orderpage .btn-select {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    font-weight: bold;
    padding: 6px 12px;
    display: inline-block; }
    #orderpage .btn-select:hover, #orderpage .btn-select:focus {
      color: #fff;
      background: rgba(0, 0, 0, 0.2);
      text-decoration: none; }
  #orderpage .plan-body {
    position: relative;
    z-index: 5; }
    #orderpage .plan-body > .padding {
      padding: 15px 0; }
    #orderpage .plan-body table {
      width: 200px;
      margin: 0 auto;
      border: none; }
      #orderpage .plan-body table td {
        color: #677180;
        font-size: 11px;
        border-top: 1px dotted #b3b8bf;
        padding: 4px 6px; }
        #orderpage .plan-body table td.property {
          text-align: right; }
        #orderpage .plan-body table td.value {
          font-weight: bold; }
      #orderpage .plan-body table .no-border td {
        border-top: none; }
  #orderpage .plan-includes {
    font-size: 14px;
    font-weight: bold;
    text-align: center; }
  #orderpage .op-9 {
    opacity: 0.9; }
  #orderpage .header-hover {
    width: 100%;
    position: absolute; }
  #orderpage .hidden-info {
    background: #fff;
    width: 320px;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: none;
    z-index: 10;
    border: 1px solid #000;
    border-left: none; }
    #orderpage .hidden-info > .padding {
      padding: 15px; }
  #orderpage .left-hover .hidden-info {
    right: 0;
    left: auto;
    border: 1px solid #000;
    border-right: none; }
  #orderpage .hidden-info h4 {
    color: #677180;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px; }
  #orderpage .hidden-info ul {
    margin: 0;
    list-style: none; }
    #orderpage .hidden-info ul li {
      color: #7a8597;
      margin-bottom: 8px; }
      #orderpage .hidden-info ul li:before {
        content: '- '; }
  #orderpage .text-fade {
    display: none; }
  #orderpage .plan-box.active .hidden-info {
    left: 300px;
    display: block;
    z-index: 10; }
  #orderpage .plan-box.active.left-hover .hidden-info {
    left: auto;
    right: 300px; }
  #orderpage .plan-box.active .text-fade {
    display: block; }
  #orderpage .plan-box.active .plan-header {
    z-index: 18; }
  #orderpage .plan-box.active .plan-body {
    z-index: 15; }
    #orderpage .plan-box.active .plan-body .padding {
      opacity: 0.7; }
  #orderpage .plan-box:hover .plan-header, #orderpage .plan-box:focus .plan-header, #orderpage .plan-box.active .plan-header {
    z-index: 20; }
  #orderpage .plan-box:hover .plan-body, #orderpage .plan-box:focus .plan-body, #orderpage .plan-box.active .plan-body {
    z-index: 15; }
  #orderpage .plan-color-0 .plan-header, #orderpage .plan-color-0 .header-hover {
    background: #35aadf; }
  #orderpage .plan-color-0 .plan-includes, #orderpage .plan-color-0 h4 span {
    color: #35aadf; }
  #orderpage .plan-color-0 .hidden-info, #orderpage .plan-color-0:hover, #orderpage .plan-color-0:focus, #orderpage .plan-color-0.active {
    border-color: #35aadf; }
  #orderpage .plan-color-1 .plan-header, #orderpage .plan-color-1 .header-hover {
    background: #5976b2; }
  #orderpage .plan-color-1 .plan-includes, #orderpage .plan-color-1 h4 span {
    color: #5976b2; }
  #orderpage .plan-color-1 .hidden-info, #orderpage .plan-color-1:hover, #orderpage .plan-color-1:focus, #orderpage .plan-color-1.active {
    border-color: #5976b2; }
  #orderpage .plan-color-2 .plan-header, #orderpage .plan-color-2 .header-hover {
    background: #70849f; }
  #orderpage .plan-color-2 .plan-includes, #orderpage .plan-color-2 h4 span {
    color: #70849f; }
  #orderpage .plan-color-2 .hidden-info, #orderpage .plan-color-2:hover, #orderpage .plan-color-2:focus, #orderpage .plan-color-2.active {
    border-color: #70849f; }
  #orderpage .plan-color-3 .plan-header, #orderpage .plan-color-3 .header-hover {
    background: #f47912; }
  #orderpage .plan-color-3 .plan-includes, #orderpage .plan-color-3 h4 span {
    color: #f47912; }
  #orderpage .plan-color-3 .hidden-info, #orderpage .plan-color-3:hover, #orderpage .plan-color-3:focus, #orderpage .plan-color-3.active {
    border-color: #f47912; }
  #orderpage .plan-color-4 .plan-header, #orderpage .plan-color-4 .header-hover {
    background: #8fce35; }
  #orderpage .plan-color-4 .plan-includes, #orderpage .plan-color-4 h4 span {
    color: #8fce35; }
  #orderpage .plan-color-4 .hidden-info, #orderpage .plan-color-4:hover, #orderpage .plan-color-4:focus, #orderpage .plan-color-4.active {
    border-color: #8fce35; }
  #orderpage .plan-color-5 .plan-header, #orderpage .plan-color-5 .header-hover {
    background: #444d56; }
  #orderpage .plan-color-5 .plan-includes, #orderpage .plan-color-5 h4 span {
    color: #444d56; }
  #orderpage .plan-color-5 .hidden-info, #orderpage .plan-color-5:hover, #orderpage .plan-color-5:focus, #orderpage .plan-color-5.active {
    border-color: #444d56; }

/*# sourceMappingURL=orderpage.css.map */
