#paypal-balance{
    padding: 7px;
    font-size: 15px; 
    font-weight: bold; 
    margin-bottom: 10px; 
    border: 1px solid rgb(189, 202, 216);
    line-height: 25px;
    min-height: 27px;
}
#paypal-balance > img{
    margin-right:10px;float:left;
}
#paypal-balance h3{
    font-size: 15px; font-weight: bold;
    display: inline;
    margin: 0;
    padding: 0;
}
#paypal-balance .pp-amount{
    display: inline-block;
    vertical-align: top;
}
#paypal-balance .pp-amt{
    border: 1px solid #3598DC;
    border-right: none;
    float: left;
    color: #323538;
    border-radius: 2px 0 0 2px;
    padding: 0 3px;
}
#paypal-balance .pp-code{
    border-radius: 0 2px 2px 0;
    border: solid 1px #3598DC;
    border-left: none;
    background: #3598DC;
    color: white;
    float: left;
    padding: 0 4px;
}

#pptransactions{
    width: 100%; display: none;
}
#paypal-balance .whitetable{
    font-size: 12px; font-weight: normal; margin-top: 10px;
}
#paypal-balance .whitetable tr:hover td{
    background: #fefed1;
}
#paypal-balance .pp-right{
    margin-left: 20px;
    float: right;
}
#paypal-balance .pp-btn{
    font-size: 12px;
    padding: 6px 7px;
    background: #3598DC;
    color: white;
    border-radius: 2px;
    text-decoration: none;
}
#paypal-balance .pp-btn:hover{
    background: #45a8eC;
}