@font-face {
    font-family: 'Lato';
    src: url('lato-bolita-webfont.eot');
    src: url('lato-bolita-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-bolita-webfont.woff') format('woff'),
         url('lato-bolita-webfont.ttf') format('truetype'),
         url('lato-bolita-webfont.svg#latoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}