@font-face {
    font-family: 'Lato';
    src: url('lato-reg-webfont.eot');
    src: url('lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-reg-webfont.woff') format('woff'),
         url('lato-reg-webfont.ttf') format('truetype'),
         url('lato-reg-webfont.svg#lato') format('svg');
    font-weight: normal;
    font-style: normal;

}