#calendar-settings{
    visibility: hidden;
    position: absolute;
    background: white;
    z-index: 10;

    box-shadow: 0 5px 15px 2px rgba(0,0,0,0.3);
    width: 0px;
    max-height: 0;

    top: 22px;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;

    overflow: hidden;
    transition-property: top, left, right, bottom, width, max-height;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.76, 1.46, 0.69, 1.02);
}

#calendar-settings.open{
    visibility: visible;
    top: 40px;
    width: 960px;
    max-height: 100%;
}

#calendar-conf::after{
    content: "";
    display: table;
    clear: both;
}
.config-section{
    width: calc(50%  - 20px);
    float: left;
    margin-right: 20px;
    box-sizing: border-box;
}

.calendar-option{
    padding: 5px 5px;
    line-height: 30px;
}
.calendar-option label{
    display: inline-block;
    width: 30%;
    padding-right: 6px;
    text-align: right;
    line-height: 16px;
    font-weight: bold;
}
.calendar-option label small{
    display: block;
    font-size: 90%;
    font-weight: normal;
}
.calendar-option div.opt{
    display: inline-block;
    vertical-align: top
}

#calendar-conf{
    padding: 10px;
    border: 1px solid #3598DC;
    margin: 0 7px;
}
#calendar-conf h3{
    font-weight: bold;
    margin-bottom: 5px
}
#calendar-conf .btn{
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.1);
    color: #444;
    border-radius: 2px;
    box-shadow: none;
    font-size: 11px;
    font-weight: bold;
    min-width: 54px;
    height: 27px;
    line-height: 27px;
    padding: 0 8px;
    text-align: center;
    background-color: #f5f5f5;
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer
}
#calendar-conf .btn .fa{
    font-size: 160%;
    line-height: 27px;
}
#calendar-conf .group-list{
    list-style: none;
    margin: 0; 
    padding:0;
    border-top: 1px solid #ddd;
    margin-bottom: 5px;
}

#calendar-conf .group-list li{
    line-height: 21px;
    border: 1px solid #ddd;
    border-top: none;
    padding: 6px 8px;
}

#calendar-conf select{
    padding: 2px;
}

#calendar-conf .group:hover{
    background-color: #eee;
}
#calendar-conf .group-name{

}
#calendar-conf .group a{
    font-size: 14px;
    padding: 5px;
    color: #777;
}
#calendar-conf .group a:hover{
    color: black;
}
#calendar-conf .group a.save{
    display: none;
}
#calendar-conf .group-name-input{
    display: none;
}

#calendar-conf .group-style{
    width: 15px; 
    height: 15px;
    line-height: 15px;
    
    border: solid 1px;
    display: inline-block;
    background-color: #3598DC;
    border-color: #3598DC;
    color: white;
    vertical-align: middle;
    text-align: center;
    border-radius: 1px;
    margin-right: 10px;
    cursor: pointer;
}
#calendar-conf .group-style .fa{
    line-height: 15px;
}

#calendar-conf input,
#calendar-conf textarea,
#calendar-conf select{
    color: #1b1b1b;
    box-sizing: border-box;
    padding: 3px;
    font-size: 100%;
    background-color: white;
    border: 1px solid;
    border-color: #c0c0c0 #d9d9d9 #d9d9d9;
}

.colorpicker {
    background-color: rgb(255, 255, 255);
    border: 1px solid #3598DC;
}

.colorpicker_color{
    border: 2px solid #E0E0E0;
}

.colorpicker_hex,
.colorpicker_field{
    border-color: transparent;
    color: #3E3E3E;
}

.colorpicker_hex input,
.colorpicker_field input{
    border-color: #3598DC;
    background: white;
    color: #3E3E3E;
}
.colorpicker_submit{
    border-color: #3598DC;
}
.colorpicker_submit.colorpicker_focus{
    background-color:#3598DC; 
}
.colorpicker_hue div{
    border-left: 8px solid #3E3E3E;
    border-right: 8px solid #3E3E3E;
}