@font-face {
    font-family: 'edmondsans';
    src: url('edmondsans-regular-webfont.eot');
    src: url('edmondsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('edmondsans-regular-webfont.woff') format('woff'),
         url('edmondsans-regular-webfont.ttf') format('truetype'),
         url('edmondsans-regular-webfont.svg#edmondsans_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}